<%- include('./partials/header.ejs') -%>

<body>
  <!-- Navigation-->
  <%- include('./partials/navbar.ejs') -%>

  <!-- Main Content-->
  <main class="mb-4">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <!-- Post preview-->
          <div class="post-preview">
            <a href="/">
              <h2 class="post-title">
                Exploration at Its Apex: A Perspective from 150 Miles Above
              </h2>
              <h3 class="post-subtitle">
                Gain a new outlook on problem-solving from the vantage point of space exploration
              </h3>
            </a>
            <p class="post-meta">
              Posted by
              <a href="#!">Shreya Savaliya</a>
              on September 24, 2023
            </p>
          </div>
          <!-- Divider-->
          <hr class="my-4" />
          <!-- Post preview-->
          <div class="post-preview">
            <a href="/">
              <h2 class="post-title">
                Experience the transformative power of seeing challenges from a higher perspective, inspired by space exploration.
              </h2>
            </a>
            <p class="post-meta">
              Posted by
              <a href="#!">Shreya Savaliya</a>
              on September 18, 2023
            </p>
          </div>
          <!-- Divider-->
          <hr class="my-4" />
          <div class="d-flex justify-content-end mb-4">
            <button class="btn btn-secondary text-uppercase rounded">
              Blogs →
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- Footer-->
  <%- include('./partials/footer.ejs') %>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="js/scripts.js"></script>
</body>

</html>